#cont_mensajes{
    width: 50%;
    background: rgba(135, 252, 252, 0.973);
    border: solid 2px black;

    overflow-y: auto;
    max-height: 300px;
}

#cont_mensajes p{
    background: white;
    padding: 5px;border: 
    solid 1px black;
    margin: 10px;
    border-radius: 5px;
}
.chat{
    display: none;
}

.msg_normal img ,.msg_privado_recibido img{
    position:relative;
    top:3px;
}
.msg_priv_recibido { 
   color : green;
}
.msg_priv_enviado {
   color :darkviolet;
}

@media (max-width: 600px) {
    #cont_mensajes{
        width: 90%;
        margin: 0 auto;
    }
  }
